/* CONTENEDOR GENERAL DEL CALENDARIO */
.fc {
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-size: 16px;
  color: #345ec1;
}

/* Borde de la “tarjeta” de calendario */
.fc-theme-standard .fc-scrollgrid {
  border: 1px solid #adadad; /* gris oscuro */
  border-radius: 0.75rem;     /* rounded-xl */
  overflow: hidden;
  background-color: #020617;  /* slate-950 */
}

/* CABECERA (días) */
.fc-col-header-cell {
  background: #c7def6;
}

.fc-col-header-cell-cushion {
  padding: 6px 0;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: #345ec1;
}

/* COLUMNA DEL DÍA ACTUAL */
.fc-day-today {
  background: #304d9d !important; /* violeta suave */
}

.fc-day-today .fc-col-header-cell-cushion {
  color: #dfecfa;
  font-weight: 600;
}

/* EJE HORARIO (columna de las horas) */
.fc-timegrid-axis {
  background-color: #c7def6;
  border-color: #345ec1;
  color: #345ec1;
  font-size: 15px;
}

/* CELDAS DE HORARIO */
.fc-timegrid-slot {
  border-color: #002fff; /* lineas horizontales más suaves */
}

.fc-timegrid-slot.fc-timegrid-slot-lane {
  background-color: #304d9d;
}

.fc-timegrid-slot:hover {
  background: #345ec1 /* hover sutil */
}

/* FIN DE SEMANA (si querés marcarlos un poquito) */
.fc-day-sun {
  background-color: #a0c9f0;
}

/* EVENTOS (turnos) */
.fc-event {
  border-radius: 0.5rem;
  border: none;
  padding: 2px 6px;
  box-shadow: 0 6px 16px rgba(8, 8, 8, 0.35);
}

.fc-event-main {
  font-size: 12px;
  font-weight: 500;
}

/* Si estás usando un color custom por profesional, esto deja el texto legible */
.fc-event-main-frame {
  color: #0b1120;
}

/* INDICADOR DE HORA ACTUAL */
.fc-timegrid-now-indicator-line {
  border-color: #a0c9f0; /* naranja */
}

.fc-timegrid-now-indicator-arrow {
  border-color: #a0c9f0;
}

/* SCROLLBARS */
.fc-scroller::-webkit-scrollbar {
  width: 6px;
}

.fc-scroller::-webkit-scrollbar-track {
  background: transparent;
}

.fc-scroller::-webkit-scrollbar-thumb {
  background-color: #111827;
  border-radius: 999px;
}

/* Quitar borde blanco feo alrededor */
.fc-theme-standard td,
.fc-theme-standard th {
  border-color: #111827;
}
